<h6><a {% if page.url == "/" %}class="active"{% endif %} href="{{ site.baseurl }}/">Max Hall</a></h6>
<h5><a {% if page.url == "/writing/" %}class="active"{% endif %} href="{{ site.baseurl }}/writing">Writing</a></h5>
<h5><a {% if page.url == "/code/" %}class="active"{% endif %} href="{{ site.baseurl }}/code">Code</a></h5>
<h5><a {% if page.url == "/design/" %}class="active"{% endif %} href="{{ site.baseurl }}/design">Design</a></h5>
<h5><a {% if page.url == "/contact/" %}class="active"{% endif %} href="{{ site.baseurl }}/contact">Contact</a></h5>
