<h6><a {% if page.url == "/index.html" %}class="active"{% endif %} href="{{ site.baseurl }}/">Max Hall</a></h6>
<h5><a {% if page.url == "/development/index.html" %}class="active"{% endif %} href="{{ site.baseurl }}/development">Code</a></h5>
<h5><a {% if page.url == "/writing/index.html" %}class="active"{% endif %} href="{{ site.baseurl }}/writing">Writing</a></h5>
<h5><a {% if page.url == "/design/index.html" %}class="active"{% endif %} href="{{ site.baseurl }}/design">Design</a></h5>
<h5><a {% if page.url == "/contact/index.html" %}class="active"{% endif %} href="{{ site.baseurl }}/contact">Contact</a></h5>
