.front {
  margin: $spacer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $spacer;
  grid-row-gap: $spacer;

  @media (min-width: $md-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
    margin: $spacer 0;
  }
}

.front__title {
  margin: 0 0 $spacer*2;
}

.front__nav {
  margin-bottom: $spacer;

  @media (min-width: $md-breakpoint) {
    grid-column: 2/4;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.front__navitem {
  // &:hover {
  //   text-decoration: line-through;
  // }
}

.front__navitem--struck {
  text-decoration: line-through;
}

.front__article {
  display: flex;
  flex-direction: column;
  min-height: $spacer*8;

  h1 {
    margin: 0;
    flex: 1;
    // hyphens: auto;
    word-break: break-word;
  }

  h2 {
    margin: $spacer 0 0;
  }

  img {
  }
}

.front__article--text {
  border-right: 1px solid $grey;
  border-bottom: 1px solid $grey;
}

.front__image-wrapper {
  width: 100%;
}
