<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Roboto:700|Lora:400,400italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="maxhall.github.io/css/normalize.css">
  <link rel="stylesheet" href="maxhall.github.io/css/skeleton.css">

  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
    <script>

        CountDownTimer('09/07/2015 00:01 AM', 'countdown');

        function CountDownTimer(dt, id)
        {
            var end = new Date(dt);

            var _second = 1000;
            var _minute = _second * 60;
            var _hour = _minute * 60;
            var _day = _hour * 24;
            var timer;

            function showRemaining() {
                var now = new Date();
                var distance = end - now;
                if (distance < 0) {

                    clearInterval(timer);
                    document.getElementById(id).innerHTML = 'EXPIRED!';

                    return;
                }
                var days = Math.floor(distance / _day);
                var hours = Math.floor((distance % _day) / _hour);
                var minutes = Math.floor((distance % _hour) / _minute);
                var seconds = Math.floor((distance % _minute) / _second);

                document.getElementById(id).innerHTML = days + ' DAYS ';
                document.getElementById(id).innerHTML += hours + ' HRS ';
                document.getElementById(id).innerHTML += minutes + ' MINS ';
                document.getElementById(id).innerHTML += seconds + ' SECS';
            }

            timer = setInterval(showRemaining, 1000);
        }

    </script>

  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1 class="masthead"><div id="countdown"></div></h1>
      </div>
    </div>
    
    {{ content }}
    
  </div>

</body>
</html>
